:root {
    --color-principal: #26689d;
    --color-fondo: #ffffff;
    --color-texto: #222222;
    --color-tarjeta: #ffffff;
}

.tema-azul {
    --color-principal: #26689d;
    --color-fondo: #eaf3f9;
    --color-texto: #222222;
    --color-tarjeta: #ffffff;
}

.tema-guinda {
    --color-principal: #800018;
    --color-fondo: #f9eeee;
    --color-texto: #222222;
    --color-tarjeta: #ffffff;
}

.tema-verde {
    --color-principal: #26734d;
    --color-fondo: #edf8f2;
    --color-texto: #222222;
    --color-tarjeta: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

h1 {
    color: var(--color-principal);
}

.tarjeta {
    background-color: var(--color-tarjeta);
    border: 3px solid var(--color-principal);
}

button {
    background-color: var(--color-principal);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
