:root{
    --colorfondo: white;
    --colorletra: black;
    --colorencabezados: #c74b4b;
}

body{
    background-color: var(--colorfondo);
    color: var(--colorletra);
}

h1{
    color: var(--colorencabezados);
}

h2{
    --tamanotexto: 1.5rem;
    color: var(--colorencabezados);
    font-size: var(--tamanotexto);
}

h3{
    font-size: var(--tamanotexto);
}

.modooscuro{
    --colorfondo: rgb(75, 110, 14);
    --colorletra: rgb(255, 255, 255);
    --colorencabezados: #a2c98a;
}

.modoclaro{
    --colorfondo: rgb(232, 119, 119);
    --colorletra: rgb(181, 25, 25);
    --colorencabezados: #4e1010;
}

.modogreen{
    --colorfondo: rgb(82, 178, 22);
    --colorletra: black;
    --colorencabezados: #1f3a08;
} /*clases*/

.modomarelo{
    --colorfondo: rgb(221, 239, 24);
    --colorletra: rgb(236, 26, 26);
    --colorencabezados: #421f01;
}

