:root{
    --colorfondo: red;
    --colorletra:black;
    --colorencabezados: pink;
}

body{
    background: var(--colorfondo);
    color: var(--colorletra);
}

h1{
    color: var(--colorencabezados);
}
h2{
    --tamanotexto:1.5rem;
    color: var(--colorencabezados);
    font-size: var(--tamanotexto);
}

h3{
    font-size: var(--tamanotexto);
}