:root{
    --colorfondo: #99d367;
    --colorletra: #ebeded;
    --colorencabezados: #ab6969;
}

body{
    background-color: var(--colorfondo);
    color: var(--colorletra);
}

h1{
    color: var(--colorencabezados);
}

h2{
    color: var(--colorencabezados)
}